*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}
.form-container {
  background-color: #fff;
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
  margin-bottom: 10px;
} 
.form-container label{
  font-size: 16px;
  color: #333;
  align-self: flex-start;
  margin: 10px 0 5px 10%;
}
.form-header {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}