*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.form-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 30%;
} 
.form-header {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}